ROBOCORP_CLOUD="false"
ORIGIN_CITY="aracaju"
DESTINATION_CITY="sao paulo - todos os aeroportos"
DEPARTURE_DATE="01/02/2023"
RETURN_DATE="02/02/2023"
NUMBER_OF_ADULTS=3
NUMBER_OF_CHILDREN=1
#in hours
PERIOD=2
